<%- include("partials/header.ejs") %>
    <div class="whole-body">
        <img class="top-icon" src="spy.svg" alt="key-icon">
        <h1 class="title">Home Page</h1>
        <p class="sub-title">Don't keep your secrets, share them anonymously.</p>
        <a class="btn" href="/register" role="button">Register</a>
        <a class="btn" href="/login" role="button">Login</a>
        <img class="top-icon" src="glass.svg" alt="">
        <a class="btn" href="/auth/google/" role="button">Sign-up with Google</a>
    </div>
    <%- include("partials/footer.ejs") %>