<%- include("partials/header.ejs") %>
    <div class="whole-body">
        <img class="top-icon" src="spy.svg" alt="key-icon">
        <h3 class="sub-title">You've discovered my Secrets!</h3>
        <h2 class="secret-title">Chunky Pandey is my hero.</h2>
        <a class="btn" href="/logout" role="button">Log Out</a>
        <a class="btn" href="/submit" role="button">Submit a Secret</a>
    </div>
    <%- include("partials/footer.ejs") %>