<footer>
    <div>
        <a target="_blank" class="fa-brands fa-twitter footer-icons" href="https://twitter.com/Muditt04"></a>
        <a target="_blank" class="fa-brands fa-instagram footer-icons" href="https://www.instagram.com/muditt04/"></a>
        <a target="_blank" class="fa-brands fa-linkedin-in footer-icons"
            href="https://in.linkedin.com/in/mudit-tyagi-2aa83422b?trk=people-guest_people_search-card"></a>
        <a target="_blank" class="fa-brands fa-github footer-icons" href="https://github.com/mudittt"></a>
    </div>
    <p class="footer-text"> © Mudit Tyagi</p>
</footer>
<script src="https://kit.fontawesome.com/5164604bfe.js" crossorigin="anonymous"></script>
</body>

</html>