body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p,
footer {
  padding: 0;
  margin: 0;
}

.App {
  padding: 0;
  margin: 0;
  text-align: center;
}

.header {
  background-color: #f5ba13;
  margin-bottom: 1rem;
}

.header-title {
  padding: 1rem;
  text-align: left;
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 500;
}

.footer {
  color: #9c9c9c;
  margin: 4rem 0 2rem;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.note {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #cccccc;
  color: #2c3639;
  cursor: pointer;
  /* float: left; */
  display: inline-block;
  margin: 0.4rem 0.2rem;
  max-width: 15rem;
  padding: 0.7rem;
  text-align: left;
  width: max-content;
}

.note-title {
  font-weight: 550;
  padding-bottom: 0.1rem;
}
.note-content {
  word-spacing: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media screen and (max-width: 425px) {
  .note {
    float: none;
    margin: 0.5rem auto;
    text-align: center;
  }
  .input-container {
    max-width: 90%;
  }
}

.note-container {
  margin: 0 auto;
  max-width: 85rem;
}

.note-btn {
  font-size: 0.7rem;
  color: #cccccc;
  display: block;
  margin: 0.8rem auto 0;
  padding: 0.3rem 0.6rem;
  outline: 0;
  border-style: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.note-btn:hover {
  color: #ff0000;
}

.input-container {
  box-shadow: 0 2px 5px #cccccc;
  margin: 2rem auto 2rem;
  width: 15rem;
  height: 8rem;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 10px;
}

.input {
  width: 14rem;
  color: #2c3639;
  font-size: 1.3rem;
  display: block;
  border-style: none;
  outline: 0;
  padding: 0.5rem 0.5rem;
}

.add-btn {
  color: #f5ba13;
  font-size: 1.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: none;
  margin: 0.5rem 0 0;
  padding: 0.1rem 0.6rem;
}

.add-btn:hover {
  background-color: #f5ba13;
  color: #ffffff;
}
